# Python virtual environments
/Server/.venv/
/SLAM/.venv/

# Local configs 
/Robot/config_local.h
/Robot/tests/manual_motor_testing/config_local.h
/Robot/tests/mqtt_v1/config_local.h
/Robot/tests/lidar_to_mqtt/config_local.h
/Robot/v1_0/config_local.h
/Server/config_local.py 
/SLAM/code/config_local.py

# YDLidar SDK
/Robot/tests/YDLidar/

# testing logs
/SLAM/code/tests/

# Python cache
/Server/__pycache__/
/SLAM/code/__pycache__/
/Server/*.pyc